<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Home | WDS</title>

    <!-- Fontawesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow p-3">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('home') }}"><i class="fa-solid fa-hands-holding-circle"></i>
                We Do Secure</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">My Policies</a>
                    </li>
                </ul>
                <div class="text-end">
                    <!-- <a class="btn btn-outline-light me-2" href="{{ url_for('login') }}" role="button">Login</a> -->
                    <a class="btn btn-light me-2" href="{{ url_for('logout') }}" role="button"><i
                            class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
                    <!-- <a class="btn btn-warning" href="{{ url_for('register') }}" role="button">Sign-up</a> -->
                </div>
            </div>
        </div>
    </nav>

    <div class="col-lg-8 mx-auto p-3 py-md-5">
        <main>
            <h1>Get insured today</h1>
            <p class="fs-5 col-md-8">Quickly and easily get started with WDS's home and auto insurance policies.
            </p>

            <div class="mb-5">
                <a href="#" class="btn btn-warning btn-lg px-3"><i class="fa-solid fa-car"></i> Auto
                    Insurance</a>
                <a href="#" class="btn btn-primary btn-lg px-3 mx-3" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop"><i class="fa-solid fa-house-user"></i>
                    Home Insurance</a>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header p-5 pb-4 border-bottom-0">
                                <!-- <h5 class="modal-title">Modal title</h5> -->
                                <h2 class="fw-bold mb-0">Sign up for free</h2>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body p-5 pt-0">
                                <form class="">
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control rounded-3" id="floatingInput"
                                            placeholder="name@example.com">
                                        <label for="floatingInput">Email address</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control rounded-3" id="floatingPassword"
                                            placeholder="Password">
                                        <label for="floatingPassword">Password</label>
                                    </div>
                                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Sign
                                        up</button>
                                    <small class="text-muted">By clicking Sign up, you agree to the terms of
                                        use.</small>
                                    <hr class="my-4">
                                    <h2 class="fs-5 fw-bold mb-3">Or use a third-party</h2>
                                    <button class="w-100 py-2 mb-2 btn btn-outline-dark rounded-3" type="submit">
                                        <svg class="bi me-1" width="16" height="16">
                                            <use xlink:href="#twitter" />
                                        </svg>
                                        Sign up with Twitter
                                    </button>
                                    <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-3" type="submit">
                                        <svg class="bi me-1" width="16" height="16">
                                            <use xlink:href="#facebook" />
                                        </svg>
                                        Sign up with Facebook
                                    </button>
                                    <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit">
                                        <svg class="bi me-1" width="16" height="16">
                                            <use xlink:href="#github" />
                                        </svg>
                                        Sign up with GitHub
                                    </button>
                                </form>
                            </div>
                            <!-- <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Understood</button>
                            </div> -->
                        </div>
                    </div>
                </div>

            </div>

            <hr class="col-3 col-md-2 mb-5">

            <div class="row g-5">
                <div class="col-md-6">
                    <h2>We're here to help</h2>
                    <p>Our licensed insurance agents are available to answer all your questions.
                        Just schedule a call, email or text us.</p>
                    <ul class="icon-list ps-0">
                        <li class="d-flex align-items-start mb-1"><a
                                href="https://github.com/twbs/bootstrap-npm-starter" rel="noopener"
                                target="_blank">contact@wds.com</a></li>
                        <li class="text-muted d-flex align-items-start mb-1">561 288 9700
                        </li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <h2>Why us?</h2>
                    <p>Read more detailed instructions and documentation on using or contributing to Bootstrap.</p>
                    <ul class="icon-list ps-0">
                        <li class="d-flex align-items-start mb-1"><strong>Hassle free
                                insurance</strong></li>
                        <li class="d-flex align-items-start mb-1"><strong>Best price guaranteed</strong></li>
                        <li class="d-flex align-items-start mb-1"><strong>Unique technology</strong></li>
                        <li class="d-flex align-items-start mb-1"><strong>24*7 customer service</strong></li>
                    </ul>
                </div>
            </div>
        </main>
    </div>
    <!-- <div>Home Table
        {{home_table}}
    </div>
    <div> Auto Table
        {{auto_table}}
    </div> -->



    <!-- Bootstrap scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
</body>

</html>