<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Home | WDS</title>

    <!-- Fontawesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow p-3">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('home') }}"><i class="fa-solid fa-hands-holding-circle"></i>
                We Do Secure</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('mypolicies')}}">My Policies</a>
                    </li>
                </ul>
                <div class="text-end">
                    <!-- <a class="btn btn-outline-light me-2" href="{{ url_for('login') }}" role="button">Login</a> -->
                    <a class="btn btn-light me-2" href="{{ url_for('logout') }}" role="button"><i
                            class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
                    <!-- <a class="btn btn-warning" href="{{ url_for('register') }}" role="button">Sign-up</a> -->
                </div>
            </div>
        </div>
    </nav>

    <div class="col-lg-8 mx-auto p-3 py-md-5">
        <main>
            <h1>Get insured today</h1>
            <p class="fs-5 col-md-8">Quickly and easily get started with WDS's home and auto insurance policies.
            </p>

            <div class="mb-5">
                <a href="#" class="btn btn-warning btn-lg px-3" data-bs-toggle="modal"
                    data-bs-target="#autoInsurance"><i class="fa-solid fa-car"></i> Auto
                    Insurance</a>
                <div class="modal fade" id="autoInsurance" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="autoInsuranceLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header p-5 pb-4 border-bottom-0">
                                <!-- <h5 class="modal-title">Modal title</h5> -->
                                <h2 class="fw-bold mb-0">Auto Insurance</h2>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body p-5 pt-0">
                                <form action="{{ url_for('add_auto_insurance') }}" class="" method="POST">
                                    <div class="form mb-3">
                                        <label for="disabledTextInput" class="form-label">Insurance Type</label>
                                        <input type="text" name="insurancetype" value="A" id="disabledTextInput"
                                            class="form-control" disabled>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control rounded-3" id="vin"
                                            placeholder="VIN" required>
                                        <label for="floatingInput">Vehicle Identification #</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control rounded-3" id="make"
                                            placeholder="Make" required>
                                        <label for="floatingInput">Make</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control rounded-3" id="model"
                                            placeholder="Model" required>
                                        <label for="floatingInput">Model</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control rounded-3" id="year"
                                            placeholder="Year" required>
                                        <label for="floatingInput">Year</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="status"
                                            aria-label="Floating label select example" required>
                                            <option value="L">Leased</option>
                                            <option value="F">Financed</option>
                                            <option value="O">Owned</option>
                                        </select>
                                        <label for="floatingSelect">Vehicle Status</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control rounded-3" id="first"
                                            placeholder="Driver First Name" required>
                                        <label for="floatingInput">Driver First Name</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control rounded-3" id="last"
                                            placeholder="Driver Last Name" required>
                                        <label for="floatingInput">Driver Last Name</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control rounded-3" id="dln"
                                            placeholder="Driver Lisence #" required>
                                        <label for="floatingInput">Driver Lisence Number</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control rounded-3" id="dob"
                                            placeholder="Driver DOB" required>
                                        <label for="floatingInput">Driver DOB</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control rounded-3" id="state
                                               placeholder="State" required>

                                        <label for="floatingText">State</label>
                                    </div>

                                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary"
                                        type="submit">Submit</button>
                                    <small class="text-muted">By clicking Sign up, you agree to the terms of
                                        use.</small>

                                </form>
                            </div>
                            <!-- <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Understood</button>
                            </div> -->
                        </div>
                    </div>

                </div>

                <a href="#" class="btn btn-primary btn-lg px-3 mx-3" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop"><i class="fa-solid fa-house-user"></i>
                    Home Insurance</a>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header p-5 pb-4 border-bottom-0">
                                <!-- <h5 class="modal-title">Modal title</h5> -->
                                <h2 class="fw-bold mb-0">Home Insurance</h2>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body p-5 pt-0">
                                <form class="" method="POST">
                                    <div class="form mb-3">
                                        <label for="disabledTextInput" class="form-label">Insurance Type</label>
                                        <input type="text" name="insurancetype" value="H" id="disabledTextInput"
                                            class="form-control" disabled>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control rounded-3" id="floatingInput"
                                            placeholder="First Name" required>
                                        <label for="floatingInput">First Name</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control rounded-3" id="floatingInput"
                                            placeholder="Last Name" required>
                                        <label for="floatingInput">Last Name</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="floatingSelect"
                                            aria-label="Floating label select example" required>
                                            <option value="S">Single</option>
                                            <option value="M">Married</option>
                                            <option value="W">Widow/Widower</option>
                                        </select>
                                        <label for="floatingSelect">Marital Status</label>
                                    </div>
                                    <label for="floatingPassword">Gender</label>
                                    <div class="form-floating mb-3">
                                        <div class="form-check-inline">
                                            <input class="form-check-input" type="radio" name="gender"
                                                id="flexRadioDefault1" value="aff" required>
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Female
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <input class="form-check-input" type="radio" name="gender"
                                                id="flexRadioDefault2" value="noaff" required checked>
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                Male
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control rounded-3" id="floatingInput"
                                            placeholder="Purchase Value" required>
                                        <label for="floatingInput">Purchase Value</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control rounded-3" id="floatingInput"
                                            placeholder="Area (sq ft)" required>

                                        <label for="floatingInput">Area (sq ft)</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control rounded-3" id="floatingDate"
                                            placeholder="Date" required>

                                        <label for="floatingDate">Purchase Date</label>
                                    </div>
                                    <label for="floatingPassword">Auto Fire Notification</label>
                                    <div class="form-floating mb-3">
                                        <div class="form-check-inline">
                                            <input class="form-check-input" type="radio" name="aff"
                                                id="flexRadioDefault1" value="aff" required>
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <input class="form-check-input" type="radio" name="aff"
                                                id="flexRadioDefault2" value="noaff" required checked>
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                    <label for="floatingPassword">Home Security System</label>
                                    <div class="form-floating mb-3">
                                        <div class="form-check-inline">
                                            <input class="form-check-input" type="radio" name="hss"
                                                id="flexRadioDefault1" value="hss" required>
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <input class="form-check-input" type="radio" name="hss"
                                                id="flexRadioDefault2" value="nohss" required checked>
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                    <label for="floatingPassword">Basement</label>
                                    <div class="form-floating mb-3">
                                        <div class="form-check-inline">
                                            <input class="form-check-input" type="radio" name="bs"
                                                id="flexRadioDefault1" value="bs" required>
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <input class="form-check-input" type="radio" name="bs"
                                                id="flexRadioDefault2" value="nobs" checked required>
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="floatingSelect"
                                            aria-label="Floating label select example" required>
                                            <option value="U">Underground swimming pool</option>
                                            <option value="O">Overground swimming pool</option>
                                            <option value="I">Indoor swimming pool</option>
                                            <option value="M">Multiple swimming pool</option>
                                            <option value="null">No swimming pool</option>
                                        </select>
                                        <label for="floatingSelect">Swimming Pool</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="floatingSelect"
                                            aria-label="Floating label select example" required>
                                            <option value="S">Single Family</option>
                                            <option value="M">Multi Family</option>
                                            <option value="C">Condominium</option>
                                            <option value="T">Town House</option>
                                        </select>
                                        <label for="floatingSelect">Type of Home</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control rounded-3" id="floatingText"
                                            placeholder="Street" required>

                                        <label for="floatingText">Street</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control rounded-3" id="floatingZipcode"
                                            placeholder="Zipcode" required>

                                        <label for="floatingZipcode">Zipcode</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control rounded-3" id="floatingCity"
                                            placeholder="City" required>

                                        <label for="floatingCity">City</label>
                                    </div>
                                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary"
                                        type="submit">Submit</button>
                                    <small class="text-muted">By clicking Sign up, you agree to the terms of
                                        use.</small>

                                </form>
                            </div>
                            <!-- <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Understood</button>
                            </div> -->
                        </div>
                    </div>
                </div>

            </div>

            <hr class="col-3 col-md-2 mb-5">

            <div class="row g-5">
                <div class="col-md-6">
                    <h2>We're here to help</h2>
                    <p>Our licensed insurance agents are available to answer all your questions.
                        Just schedule a call, email or text us.</p>
                    <ul class="icon-list ps-0">
                        <li class="d-flex align-items-start mb-1"><a
                                href="https://github.com/twbs/bootstrap-npm-starter" rel="noopener"
                                target="_blank">contact@wds.com</a></li>
                        <li class="text-muted d-flex align-items-start mb-1">561 288 9700
                        </li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <h2>Why us?</h2>
                    <p>Given below are more points as to why you should choose WDS.</p>
                    <ul class="icon-list ps-0">
                        <li class="d-flex align-items-start mb-1"><strong>Hassle free
                                insurance</strong></li>
                        <li class="d-flex align-items-start mb-1"><strong>Best price guaranteed</strong></li>
                        <li class="d-flex align-items-start mb-1"><strong>Unique technology</strong></li>
                        <li class="d-flex align-items-start mb-1"><strong>24*7 customer service</strong></li>
                    </ul>
                </div>
            </div>
        </main>
    </div>
    <!-- <div>Home Table
        {{home_table}}
    </div>
    <div> Auto Table
        {{auto_table}}
    </div> -->



    <!-- Bootstrap scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
</body>

</html>