<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Login | WDS</title>

    <!-- Fontawesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow p-3">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('home') }}"><i class="fa-solid fa-hands-holding-circle"></i>
                We Do Secure</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="text-end">
                    <a class="btn btn-outline-light me-2" href="{{ url_for('login') }}" role="button">Login</a>
                    <a class="btn btn-warning" href="{{ url_for('register') }}" role="button">Sign-up</a>
                </div>
            </div>
        </div>
    </nav>

    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                        class="img-fluid" alt="Phone image">
                </div>
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                    <h1 class="mb-4"><strong>Welcome!</strong></h1>
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}

                        <!-- Username -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="email">Username</label>
                            {{ form.username(class="form-control form-control") }}
                        </div>

                        <!-- Password -->
                        <label class="form-label" for="password">Password</label>
                        <div class="input-group form-outline mb-4">
                            {{ form.password(class="form-control form-control") }}
                            <button class="btn btn-outline-primary" type="button" onclick="toggle()">
                                <i class="fa-solid fa-eye-slash" id="eye"></i>
                            </button>
                        </div>
                        <!-- Submit button -->
                        {{ form.submit(class="btn btn-primary mb-4") }}
                    </form>

                    <a href="{{ url_for('forgot_password') }}">Forgot password?</a>
                    <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- Eye toggler -->
    <script>
        var state = false;
        function toggle() {
            eye_icon = document.getElementById("eye");
            if (state) {
                document.getElementById("password").setAttribute("type", "password");
                eye_icon.classList.remove("fa-eye");
                eye_icon.classList.add("fa-eye-slash");
                state = false;
            } else {
                document.getElementById("password").setAttribute("type", "text");
                eye_icon.classList.remove("fa-eye-slash");
                eye_icon.classList.add("fa-eye");
                state = true;
            }
        }
    </script>
    <!-- Bootstrap scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>

</body>

</html>